---
import data from "../../content/custom-dev/faq.json";
---
<section aria-labelledby="faqcd-title">
  <h2 id="faqcd-title">{data.title}</h2>
  <dl>
    {data.items.map((f) => (
      <>
        <dt>{f.q}</dt>
        <dd>{f.a}</dd>
      </>
    ))}
  </dl>
</section>