---
import data from "../../content/mobile-apps/capabilities.json";
---
<section aria-labelledby="capabilities-title">
  <h2 id="capabilities-title">{data.title}</h2>
  <ul>
    {data.items.map((i) => <li>{i}</li>)}
  </ul>
</section>